# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
dist-ssr/

# Environment variables
.env
.env.local
.env.*.local

# Editor / OS
.DS_Store
.vscode/
.idea/
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Vite cache
.vite/

.vercel
.github/workflows/
